{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block extra_head %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
    
<section class="dos-bento">

<h1>Projects</h1>

<div>
    {% for project in projects %}
        <div class="dos-card">
            <a href="{{ project.repository }}" target="_blank">
            <img src="{{ project.image.url }}" alt=" {{ project.title }}">
                <p> {{ project.title }}</p>
                <p> {{ project.year }}</p>
                <p> {{ project.description }}</p>
                
                {% for skill in project.skills.all %}
                    <p> {{ skill.name }} </p>
                {% endfor %}
                
    {% endfor %}
</div>

</section>

{% endblock content %}